@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";


/* Tailwind directives */

/* Custom theme configuration */
@theme {
  
  /* Fonts */
  --font-family-manrope: "Manrope", sans-serif;

  /* Breakpoints */
  --breakpoint-xs: 490px;

  /* Colors */
  --color-custom-primary: #352cd4;
  --color-custom-half-primary: rgb(53 44 212 / 30%);
}

/* Custom base styles */

* {
  @apply scroll-smooth;
}

body {
  @apply min-h-dvh text-black bg-white overflow-x-hidden font-family-manrope font-medium;
}
body{
  background-image: url(https://www.transparenttextures.com/patterns/batthern.png);
}

.container {
  margin-inline: auto;
  padding-inline: 5%;
}

@media (min-width: 490px) {
  .container {
    padding-inline: 1rem !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
h1 {
  @apply text-[clamp(1.75rem,1.1578947368421053rem+2.9605263157894735vw,4rem)];
}
h2 {
  @apply text-[clamp(1.7rem,1.3285714285714285rem+1.8571428571428572vw,3rem)];
}
h3 {
  @apply text-[clamp(1.6rem,1.342857142857143rem+1.2857142857142856vw,2.5rem)] ;
}
h4 {
  @apply text-[1.4rem] ;
}
h5 {
  @apply text-[1.25rem];
}
h6 {
  @apply text-[1rem];
}

p,
span,
li,
a,b {
  @apply text-[14px] leading-loose;
}

.fromWrapper input,
.fromWrapper textarea,
.fromWrapper select {
  @apply border-[#ffffff4d];
}




/* Custom utilities */

.sectionHeaderWidth{
  @apply w-[90%] sm:w-[80%] mx-auto
}
.sectionHeaderSubtextWidth{
  @apply text-[16px] xs:text-lg md:text-xl
}

.primaryButton{
  @apply cursor-pointer px-4 py-2 text-center text-sm text-nowrap font-bold rounded-md duration-500 text-white bg-custom-primary border border-custom-primary hover:shadow-sm 
}
.activePrimaryButton{
  @apply hover:bg-custom-half-primary
}

.outlineButton{
  @apply cursor-pointer px-4 py-2 text-center text-sm text-nowrap font-bold rounded-md duration-500 bg-custom-primary text-white  border hover:shadow-sm 
}
.activeOutlineButton{
  @apply hover:bg-black
}


.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Form and Inputs */

.fromWrapper{
  @apply card w-full shrink-0 bg-custom-primary text-white shadow-xl p-4 md:p-8 space-y-4 
}
.formSubmitBtn{
  @apply btn btn-block !bg-white hover:!bg-custom-primary !border-white !text-custom-primary hover:!text-white
}
.input:focus, .input:focus-within,
.textarea:focus, .textarea:focus-within,
.select:focus, .select:focus-within{
  @apply border-white
}
.input:focus, .input:focus-within,
.textarea:focus, .textarea:focus-within,
.select:focus, .select:focus-within{
  color: inherit;
  background-color: transparent !important;
}
.input:disabled ,
.textarea:disabled {
  color: #7272729b;
  border-color: #7272729b !important;
  background-color: #6868682b !important;
}
.invalidInput{
  @apply border focus:border-rose-300
}

.customInput{
  @apply input-ghost !text-white border-white focus:border-white
}



